ul .food {
    color: red;
}

h1, h2 {
    font-family: "Times New Roman", fantasy;
    text-align: center;
}

.idk .food.one{font-size: 40px;

}

li.two, .three {
    font-size: 40px;
}

ul {
    font-weight: bold;
    background-color: #ebab34;
    color: hsl(198,100%,50%)
}


img{
    height: auto;
    width:400px

}
